By <a href="/author/{{recipe.author.id}}/">{{recipe.author.name}}</a>

<body style="background-color: bisque"></body>

{{recipe.title}}
<br />
{{recipe.description}}
<br />
{{recipe.time_required}}
<br />
{{recipe.instructions}}
<br />
You must be the author or an administrator to edit this post
</br >
{% if request.user == recipe.author.user %}
 {% elif request.user.is.staff %}

<a href="/recipe/{{ recipe.id }}/edit/">Edit This Recipe</a>
{% endif %}

{% if request.user.is_authenticated %}
Put this post in your Recipe Box
<a href="/recipe/{{ recipe.id }}/favorite/">Add to My Recipe Box</a>
{% endif %}