By <a href="/author/{{recipe.author.id}}/">{{recipe.author.name}}</a>

<body style="background-color: bisque"></body>

{{recipe.title}}
<br />
{{recipe.description}}
<br />
{{recipe.time_required}}
<br />
{{recipe.instructions}}
<br />

{% if request.user.is_authenticated && if favorite_flag %}
<a href="/recipe/{{ recipe.id }}/favorite/">Add This Recipe to Recipe Box</a>
You must be the author or an administrator to edit this post {% if edit_flag %}
<a href="recipe/{{ recipe.id }}/edit/">Edit This Recipe</a>
{% endif %}